<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.hospital.mapper.Stage3Mapper">
    <select id="getStage3ById" resultType="com.hust.hospital.entity.detail.Stage3" parameterType="String">
        select * from pathmanagement.stage3 where patient_id = #{patientId}
    </select>
    <insert id="addStage3" parameterType="com.hust.hospital.entity.detail.Stage3">
        insert into pathmanagement.stage3 (patient_id,checked_cities,cities,detail_cities,begin_date,begin_time,end_date,end_time) values (#{patientId},#{checkedCities},#{cities},#{detailCities},#{beginDate},#{beginTime},#{endDate},#{endTime})
    </insert>
    <update id="updateStage3" parameterType="com.hust.hospital.entity.detail.Stage3">
        update pathmanagement.stage3 set checked_cities = #{checkedCities},cities = #{cities},detail_cities = #{detailCities},begin_date = #{beginDate},begin_time = #{beginTime},end_date = #{endDate},end_time = #{endTime}  where patient_id = #{patientId};
    </update>
</mapper>