<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--设置启用数据库字段下划线映射到java对象的驼峰式命名属性，默认为false-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/pathmanagement"/>
                <property name="username" value="root"/>
                <property name="password" value="010208"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/hust/hospital/mapper/PatientMapper.xml"/>
        <mapper resource="com/hust/hospital/mapper/AdminMapper.xml"/>
        <mapper resource="com/hust/hospital/mapper/InPathMapper.xml"/>
        <mapper resource="com/hust/hospital/mapper/OverAllMapper.xml"/>
        <mapper resource="com/hust/hospital/mapper/Stage1Mapper.xml"/>
        <mapper resource="com/hust/hospital/mapper/Stage2Mapper.xml"/>
        <mapper resource="com/hust/hospital/mapper/Stage3Mapper.xml"/>
        <mapper resource="com/hust/hospital/mapper/Stage4Mapper.xml"/>
        <mapper resource="com/hust/hospital/mapper/VariationMapper.xml"/>
    </mappers>


</configuration>